[Unit]
Description=e-Paper Service
#
# Restart if service fails but terminate retries if repeated start-up error
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
# Edit path if necessary
WorkingDirectory=/opt/e-Paper
# Create logs in username or remove for root
User=epaper
# Edit path if necessary
ExecStart=.venv/bin/python3 e-paper.py
# Restart on failure after 5 seconds
Restart=true
RestartSec=5

[Install]
; # Wait until network target, but app will retry on failure to connect
WantedBy=multi-user.target
